# Proxmox VE API (PVEAPIToken auth)
CENTAUR_PROXMOX_BASE_URL=https://pve-03:8006/api2/json
CENTAUR_PROXMOX_TOKEN_ID=centaur@pve!ops
# API token secret (the UUID that pairs with the token id)
CENTAUR_PROXMOX_TOKEN_SECRET=
# Set to "true"/"1" to verify TLS (default: skip; PVE uses self-signed certs)
CENTAUR_PROXMOX_VERIFY_TLS=
